<!DOCTYPE html>
<html>
    <head><title>bas</title></head>
    <body>
        <h1>输入bas</h1>
        <form>
            <select name="cars">
                <option value="volvo">bas1</option>
                <option value="saab">bas2</option>
                <option value="fiat">bas3</option>
                <option value="audi">bas4</option>
            </select>
        </form>
        <form method="post" action="/">
        <p>名称<br><input type="text" name="basname"></p>
        <input type="submit" value="提交">
        </form>
    </body>
</html>


